# Size of the grid passed in parameter to ants (must be odd).
viewDistance: 5

# Initial range of a pheromone i.e. when placed.
pheroRange: 12

# Usual settings for a world size of 64.
rocksPercent: 3
resAmount: 88

# The world is no longer a square.
worldSize: [71, 41]

# The size of each tile (squares).
tileSize: 16

# Directories relative to the SentiAnt.py file
texturesDirectory: "./sentiant/textures/"
playersDirectory: "./sentiant/players/"
#logsDirectory: "./sentiant/logs/"

# Speed, as a percentage; e.g.: 50 will be 50% tick per sec (or 2 sec per tick). If negative, no sleep is applied between turns.
tickSpeed: -1

# Maximum number of turns to simulate; infinity if negative.
turnsLimit: 960

# Background color for walls and clear ways; you can use RGB if you put e.g.: '#ABCDEF'.
wallColor: "NavajoWhite4"
emptyColor: "NavajoWhite2"
textColor: "Black"

# Seed used for the simulation's RNG; write your's to replay the exact same game, comment the line to have it random.
#randomSeed: (seed)

# List of sequences name to display in the console. Comment out to print every logs, set to [] to print none.
#listenTo: ["example-main", ...]
listenTo: []
