; size of the grid passed in parameter to ants
viewDistance: 7

; inital range of a pheromone i.e. when placed
pheroRange: 5

; the world is a square
worldSize: 24

; usual settings for a world size of 64
rocksPercent: 6
resAmount: 88

; the window is square and minde that the size of each tile will shrink/strech!
windowSize: 480

; directories relative to the SentiAnt.py file
texturesDirectory: ./sentiant/textures/
playersDirectory: ./sentiant/players/

; percentage, e.g. 50 will be 50% tick per sec (or 2 sec per tick)
tickSpeed: 400

; maximum number of turns to simulate
turnsLimit: 10

; background color for walls and clear ways; you can use RGB if you put e.g. #ABCDEF
wallColor: NavajoWhite4
emptyColor: NavajoWhite2


(you don't actually need a semicolon before a comment, just don't put a colon in the line!)
